In [3]:
#Python numbers
a=5
print(type(a))

a=30.5
print(type(a))

a=10+2j  #j used for complex number
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
#type casting
print(int(-2.8))
print(float(5))

-2
5.0

In [3]:
import math

In [6]:
#math library and its function
print(math.sqrt(4))
print(math.floor(-10.7))
print(math.floor(10.7))
print(math.ceil(-12.7))
print(math.ceil(12.3))
print(math.pow(2,3))
print(math.pi) #pi is an attribute which does not require arguments
print(math.factorial(5))

2.0
-11
10
-12
13
8.0
3.141592653589793
120

In [1]:
import random as rn

print(rn.random()) #range is 0 to 1
print(rn.randrange(50,100)) # for integer
print(rn.uniform(50.5,100)) #for float

x=['a','b','c','d','e',10,20,30.5,2.5]
print(rn.choice(x)) #to choice
rn.shuffle(x)
print(x)

0.1512642039956954
70
65.11023377419954
20
['e', 'd', 'c', 10, 'b', 20, 2.5, 30.5, 'a']

In [27]:
#strings are immutable but can be replace

my_string = "Hello world"
print(type(my_string))
print(my_string)

#comment
"""
this is 
a comment"""

#multi line string which look like comment
my_string = """Python is a programming language.
Python is interesting.
this is it."""
print(my_string)

my_string = "Python is a programming language.\n this is it."
print(my_string)

<class 'str'>
Hello world
Python is a programming language.
Python is interesting.
this is it.
Python is a programming language.
 this is it.

In [28]:
#slicing
my_string = "Python is a programming language. Python is interesting."
print(my_string[0])
print(my_string[-3])
#[inclusive:exclusive]
print(my_string[0:18])
print(my_string[:25])
print(my_string[25:])
print(my_string[:])
#print(my_string[100])

P
n
Python is a progra
Python is a programming l
anguage. Python is interesting.
Python is a programming language. Python is interesting.

In [29]:
#Strings are immutable so this is an error
my_string[3]='B'

TypeError: 'str' object does not support item assignment

In [30]:
del my_string

In [31]:
#we have deleated the string, this will be an error
print(my_string)

NameError: name 'my_string' is not defined

In [25]:
str1 = 'Hello'
str2 = 'world'

str1 = str1 + " " + str2
print(str1)

Hello world

In [26]:
#functions with string
print("PyThOn".lower()) # output will be in lower case

string="python,is,a,programming language."
print(string.upper().split(sep=",")) #for multiple delimite use regex

print('Happy Diwali'.replace("Diwali","Birthday"))
len(string) #to get string count

python
['PYTHON', 'IS', 'A', 'PROGRAMMING LANGUAGE.']
Happy Birthday

33

# LIST

In [32]:
#Python list
list1 = [1,3,4,2,6,5]
list2 = [1, 4.2, 'python', 4.2]

print(list1)
print(list2)
print(type(list1))

[1, 3, 4, 2, 6, 5]
[1, 4.2, 'python', 4.2]
<class 'list'>

In [31]:
#use of slicing operator
a = [10,20,30,40,50,60,70,80]

print("a[2] = ", a[2])

print("a[0:3] = ", a[0:3])

print("a[5:] = ", a[5:])

a[2] =  30
a[0:3] =  [10, 20, 30]
a[5:] =  [60, 70, 80]

In [33]:
x=list(range(0,10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
#nested list (data structure within another data structure)
b = ['spam',2.0,5,[10,"raj"]]
print(b[0][2])
print(b[2])
print(b[3][1])
print(b[3][1][2])

a
5
raj
j

In [42]:
#list are mutuable
a = [1,2,3,4,5,6,7,8]
print(a)
a[3]=4.5  #replacing the 3rd index value
a[5]="six"
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4.5, 5, 'six', 7, 8]

In [43]:
#concatinating lists
c = a + b + [120,300]
c

[1, 2, 3, 4.5, 5, 'six', 7, 8, 'spam', 2.0, 5, [10, 'raj'], 120, 300]

In [44]:
#append a single element by taking values from user, by using input()
my_list = [1,2]

i = 1
while(i<=3):
    value=int(input("Enter a number: "))
    my_list.append(value)
    i+=1
print(my_list)

Enter a number: 7
Enter a number: 9
Enter a number: 11
[1, 2, 7, 9, 11]

In [46]:
#appending multiple elements
list2 = [1,3,5,7,9]
list3 = [2,4,5,8,10]
list2.extend(list3) #adding list 3 into list 2
print(list2)

[1, 3, 5, 7, 9, 2, 4, 5, 8, 10]

In [48]:
#inserting element in between the list
list1 = ['a','b','c','d']
list1.insert(1,'d')
print(list1)
print(list1.index("d"))

['a', 'm', 'b', 'c', 'd']
4

In [49]:
list1 = ['a','b','c','d']
list1.reverse()
print(list1)

['d', 'c', 'b', 'a']

In [53]:
list1 = ['a','b','c','d','d','a','f']
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

['a', 'a', 'b', 'c', 'd', 'd', 'f']
['f', 'd', 'd', 'c', 'b', 'a', 'a']

In [50]:
b=['spam',2.0,5,[10,'raj']] #list cannot compare btwn string and int
b.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [54]:
del list1[4] #will delete the 5th index data
print(list1)

['f', 'd', 'd', 'c', 'a', 'a']

In [56]:
list1.remove('d') #will remove the first apperance of d
print(list1)

['f', 'c', 'a', 'a']

In [57]:
print(list1)
del list1[1:3]
list1

['f', 'c', 'a', 'a']

['f', 'a']

In [64]:
#list2 = list1 (will create a copy but it will hold same memory)
list2 = list1.copy() #to create a copy of a list
list2

['f', 'a']

In [65]:
list1.clear()
list1

[]

In [67]:
#aggregate functions
num = [5,10,15,20,25,30]
print(len(num))
print(max(num))
print(min(num))
print(sum(num))
print(sum(num)/len(num))

6
30
5
105
17.5

In [59]:
#type casting a data structure
#list and strings
x = (1,2,3,4,5)
y=list(x)
print(y)
type(y)

[1, 2, 3, 4, 5]

list

In [66]:
#type casting a data structure
#list and strings
x = "Python"
y=list(x)
print(y)
print(type(y))

a = (1,2,3,4,5)
print(a)
print(type(a))
b=list(a)
print(b)
print(type(b))

['P', 'y', 't', 'h', 'o', 'n']
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [60]:
#zip function
a=[10,20,30,40,50,60]
b=[2,4,6,8,10]
c=[1,2,3,4]
print(list(zip(a,b,c))) # will output only the pair from a,b,c

[(10, 2, 1), (20, 4, 2), (30, 6, 3), (40, 8, 4)]

# TUPLES

In [68]:
#TUPLES
a = (5,'python',10+2j,5)
print(type(a))
print(a[0:3])

<class 'tuple'>
(5, 'python', (10+2j))

In [76]:
#empty tuple
c=()
print(type(c))

c=tuple("python") #to create every character as a tuple
print(c)

d=tuple([1,2,3,4,5]) #Type casting (converting) of list to tuple
print(d)

<class 'tuple'>
('p', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4, 5)

In [71]:
n_tuple = ("mouse",[8,4,6],(7,4,9),10)
print(n_tuple[1])
print(n_tuple[1][2])

n_tuple[1][2]=100 #replacing a list inside a tuple
print(n_tuple)

#n_tuple[2][1]=0 (will give error  as it is a tuple)

#del n_tuple[1] # will throw error
print(n_tuple)

del n_tuple

[8, 4, 6]
6
('mouse', [8, 4, 100], (7, 4, 9), 10)
('mouse', [8, 4, 100], (7, 4, 9), 10)

# SETS{}

In [77]:
#Set is an unordered collection of data type that is iterable, mutable and
#has no duplicate elements
my_set = {1,2,3,4,2,4,5,6,8,9}
print(my_set)
#sets doesnot take duplicate values
my_set = {1,2,1,3,2,"Hello","Hello","Manoj",(1,2,4)}
print(my_set)

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2, 3, 'Hello', 'Manoj', (1, 2, 4)}

In [ ]:
my_set[0] #will through error as it doesnot support indexing

In [83]:
#my_set={1,2,[3,4]} list inside set are not allowed as list are mutable
my_set={1,2,(3,4)} #tuple inside set are allowed as they are immutable
print(my_set)

{1, 2, (3, 4)}

In [79]:
a={} #for creating empty dictionary
print(type(a))

<class 'dict'>

In [80]:
#creating a empty set
a = set()
print(type(a))

<class 'set'>

In [81]:
#adding elements
my_set = {1,3}
print(my_set)

my_set.add(8) #to add a simple element
print(my_set)

my_set.update([6,4,8],{1,4,5},(15,12)) #just like extend, the update function will 
                                    #ignore the data type and fetch all the individual elements
print(my_set)

my_set.update([6,4,8],{1,4,5},((15,12),)) #we did this to get tuple in set ',' is used a tuple cannot have single element
print(my_set)

{1, 3}
{8, 1, 3}
{1, 3, 4, 5, 6, 8, 12, 15}
{(15, 12), 1, 3, 4, 5, 6, 8, 12, 15}

In [95]:
#removing elements
my_set = {1,3,4,5,6}
print(my_set)

my_set.remove(6)
print(my_set)

#del my_set[2] #will give error as indexing is not preserved in set
#print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 4, 5}
{1, 3, 4, 5}

In [96]:
#union and intersection

A = {1,2,3,4,5,9}
B = {4,5,6,7,8,10}

print(A | B) #will give the unique elements
print(A.union(B))

print(A & B) #will give only the common elements
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{4, 5}

In [83]:
#difference elements

A = {1,2,3,4,5,9}
B = {4,5,6,7,8,10}

print(A-B) #will remove the same values present in A
print(A.difference(B))
print(B.difference(A)) #will remove the same values present in B
print(B-A)

{1, 2, 3, 9}
{1, 2, 3, 9}
{8, 10, 6, 7}
{8, 10, 6, 7}

# DICTIONARIES
#declaration=dict()  two value is require (If we pass another value more then 2, then error will occur )
#{Key:value,K:v}  (before : key and after : we can pass multiple values)
#Mixed data type allowed
#valued could be repetitive
#keys should be unique  (if not it will replace the previous value)
#accesing done with keys
#It preserves the order which we are passing while making the dictionary
#duplicate values are allowed in all datatype except sets
#Mutable

In [9]:
my_d = {}

my_d = {1:'A', 2:'B'}
print(my_d)

my_d = {'name' : ['John', "Nikita", "Alex"], "ID" : [2,4,3]}
print(my_d)

my_d = dict([("fruit", 'apple'), (2,'mango'),("fruit","mango")])
print(my_d)

{1: 'A', 2: 'B'}
{'name': ['John', 'Nikita', 'Alex'], 'ID': [2, 4, 3]}
{'fruit': 'mango', 2: 'mango'}

In [16]:
#accessing values
my_d = {'name':'manoj', 'age' : 29}
print(my_d['age'])

#print(my_d['add']) will through error as key not defined

29

In [18]:
#updating dictionary
my_d['age'] = 20
print(my_d)

my_d['address'] = 'mumbai'
print(my_d)

{'name': 'manoj', 'age': 20, 'address': 'mumbai'}
{'name': 'manoj', 'age': 20, 'address': 'mumbai'}

In [87]:
#deleting
squares = {1:1, 2:4, 3:9, 7:49, 5:25}
print(squares)

del squares[5] #will delete the 5th key value pair
print(squares)

#squares.clear() #willdelete the entire dictionary
print(squares)

{1: 1, 2: 4, 3: 9, 7: 49, 5: 25}
{1: 1, 2: 4, 3: 9, 7: 49}
{1: 1, 2: 4, 3: 9, 7: 49}

In [88]:
#accessing the dictionary
squares.keys()

dict_keys([1, 2, 3, 7])

In [89]:
squares.values()

dict_values([1, 4, 9, 49])

In [27]:
#merging the vlues of two different data structures by zip()
A = [1,2,3,4,5,6]
B=(10,20,30,40,50,60)
C = dict(zip(A,B))
print(C)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}