**1. Write a Python program which iterates the integers from 1 to 50. For multiples of 3 print "Fizz" instead of the number and for the multiples of 5 print "Buzz". For numbers which are multiples of both 3 and 5 print "FizzBuzz".**

In [1]:
for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

**2. Write a Python program to count the number of even and odd numbers from a tuple of numbers.**
<br>
numbers=(12,15,3,6,26,33,56,65,78,37,42,99)

In [2]:
numbers = (12,15,3,6,26,33,56,65,78,37,42,90) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 7
Number of odd numbers : 5

**3. Take 5 integers from keyboard using a loop and print their average value on the screen.**

In [5]:
print("Input some integers to calculate their sum and average. Input 0 to exit.")

count = 0
sum = 0.0
#number = 1

while count < 5:
	number = int(input(""))
	sum = sum + number
	count += 1

if count == 0 :
	print("Input some numbers")
else:
	print("Average and Sum of the above numbers are: ", sum / (count))

Input some integers to calculate their sum and average. Input 0 to exit.
4
5
6
7
8
Average and Sum of the above numbers are:  6.0

### **4. Following are the tuples of students who have enrolled for two courses. Find out those students who have enrolled for both the courses.**
<br>
course_A=('Anuj', 'Katrina', 'John', 'Jessica', 'Michael', 'Rahul', 'Khushboo')
<br>
course_B=('Bhavana', 'Katrina','Michael', 'Robert', 'Khushboo', 'Sachin' )

In [3]:
course_A=('Anuj', 'Katrina', 'John', 'Jessica', 'Michael', 'Rahul', 'Khushboo')
course_B=('Bhavana', 'Katrina','Michael', 'Robert', 'Khushboo', 'Sachin' )

setA=set(course_A)
setB=set(course_B)
print(setA&setB)

{'Michael', 'Katrina', 'Khushboo'}

**5. Write a Python function to create and print a list where the values are square of numbers between 1 and 25 (both included).**

In [11]:
def printValues():
    l = list()
    for i in range(1,26):
        l.append(i**2)
    print(l)

printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

**6. Write a Pandas program to create a Series out of the given list and sort it in the descending order.**
<br>
data_list=['1000', 'spyder', 'python', 'jupyter', '400.78', 'anaconda']

In [9]:
import numpy as np
import pandas as pd

In [10]:

data = np.array(['1000', 'spyder','a', 'python', 'jupyter', '400.78', 'anaconda'])
s = pd.Series(data) 
s.sort_values(ascending=False)
print(s)

0        1000
1      spyder
2           a
3      python
4     jupyter
5      400.78
6    anaconda
dtype: object

**7. Create a series out of a range of values from 1 to 10. Ask the user to specify how many observations should be displayed and print that many observations from the series.**

In [23]:
import numpy as np
import pandas as pd
data = np.array([1,2,3,4,5,6,7,8,9,10])
s = pd.Series(data) 
# ob=0
print("how many observations should be displayed ?")
ob= int(input())
if ob>10:
    print('You have entered incorrect no')
else:
    print(s[:ob])

how many observations should be displayed ?
10
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

**8. Write a Pandas program to create the mean and standard deviation of the data of a given Series.**
<br>
data_list = [1,2,3,4,5,6,7,8,9,5,3]

In [25]:
data_list = [1,2,3,4,5,6,7,8,9,5,3]
s = pd.Series(data_list)
s.describe()
result=s.describe()
# print(result)
print("mean is = ",result[2])
print("standard deviation is = ",result[3])

mean is =  2.522624895547565
standard deviation is =  1.0

**9. Write a Pandas program to display a summary of the basic information about the DataFrame and its data.**
<br>
exam_data = {'name': ['Anuj', 'Bhavana', 'Katrina', 'John', 'Jessica', 'Michael', 'Robert', 'Rahul', 'Khushboo', 'Sachin'],
'score': [12.5, 9, 16.5, 8, 9, 20, 14.5, 5, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
import pandas as pd
exam_data = {'name': ['Anuj', 'Bhavana', 'Katrina', 'John', 'Jessica', 'Michael', 'Robert', 'Rahul', 'Khushboo', 'Sachin'],
             'score': [12.5, 9, 16.5, 8, 9, 20, 14.5, 5, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data) #convert into data frame 
print(df)
print("_______________________________________________-")
df=pd.DataFrame(exam_data,index=labels) #assign index no, with specify row name 
print(df)
df.info()

       name  score  attempts qualify
0      Anuj   12.5         1     yes
1   Bhavana    9.0         3      no
2   Katrina   16.5         2     yes
3      John    8.0         3      no
4   Jessica    9.0         2      no
5   Michael   20.0         3     yes
6    Robert   14.5         1     yes
7     Rahul    5.0         1      no
8  Khushboo    8.0         2      no
9    Sachin   19.0         1     yes
_______________________________________________-
       name  score  attempts qualify
a      Anuj   12.5         1     yes
b   Bhavana    9.0         3      no
c   Katrina   16.5         2     yes
d      John    8.0         3      no
e   Jessica    9.0         2      no
f   Michael   20.0         3     yes
g    Robert   14.5         1     yes
h     Rahul    5.0         1      no
i  Khushboo    8.0         2      no
j    Sachin   19.0         1     yes
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
name        10 non-null object
score       10 non-null float64
attempts    10 non-null int64
qualify     10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

10. Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the above data frame.**

In [14]:
print(df.iloc[[1, 3, 5, 6], [0, 1]]) #

NameError: name 'df' is not defined

**11. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2 and still did not qualify.**

In [12]:
print("Rows where score between 15 and 20 (inclusive):")
print(df[(df['attempts']>2) & (df['qualify'] == 'no')])

Rows where score between 15 and 20 (inclusive):
      name  score  attempts qualify
b  Bhavana    9.0         3      no
d     John    8.0         3      no

**12. Write a Pandas program to change the score in row 'd' to 11.5.**

In [13]:
df.loc['d', 'score'] = 11.5
print(df)

       name  score  attempts qualify
a      Anuj   12.5         1     yes
b   Bhavana    9.0         3      no
c   Katrina   16.5         2     yes
d      John   11.5         3      no
e   Jessica    9.0         2      no
f   Michael   20.0         3     yes
g    Robert   14.5         1     yes
h     Rahul    5.0         1      no
i  Khushboo    8.0         2      no
j    Sachin   19.0         1     yes

**13. Write a Pandas program to change the name 'Jessica' to 'Suresh' in name column of the DataFrame.**

In [13]:
df.loc['e', 'name'] = "Suresh"
print(df)

       name  score  attempts qualify
a      Anuj   12.5         1     yes
b   Bhavana    9.0         3      no
c   Katrina   16.5         2     yes
d      John   11.5         3      no
e    Suresh    9.0         2      no
f   Michael   20.0         3     yes
g    Robert   14.5         1     yes
h     Rahul    5.0         1      no
i  Khushboo    8.0         2      no
j    Sachin   19.0         1     yes

**14. Write a Pandas program to delete the 'attempts' column from the DataFrame.**

In [14]:
del df['attempts'] #for multiple column pass as multiple value in list 
print(df)

       name  score qualify
a      Anuj   12.5     yes
b   Bhavana    9.0      no
c   Katrina   16.5     yes
d      John   11.5      no
e    Suresh    9.0      no
f   Michael   20.0     yes
g    Robert   14.5     yes
h     Rahul    5.0      no
i  Khushboo    8.0      no
j    Sachin   19.0     yes

**15. Write a Pandas program to rearrange the columns of the dataframe. Follow the order:**
Qualify, Name, Score

In [21]:
df=df[['qualify',"name","score"]]
df

  qualify      name  score
a     yes      Anuj   12.5
b      no   Bhavana    9.0
c     yes   Katrina   16.5
d      no      John    8.0
e      no   Jessica    9.0
f     yes   Michael   20.0
g     yes    Robert   14.5
h      no     Rahul    5.0
i      no  Khushboo    8.0
j     yes    Sachin   19.0